<!DOCTYPE html>
<html>
<head>
    <title>Sentiment Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>Amazon Review Sentiment Analysis</h1>
    <p style="font-size: 14px; opacity: 0.7;">
    Analyze customer sentiment using machine learning
</p>
    <form action="/predict" method="post">
        <textarea name="review" placeholder="Enter your review..."></textarea>
        <br>
        <button type="submit" onclick="this.innerText='Analyzing...'">Analyze</button>
    </form>
</div>

</body>
</html>